<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Nd-Validation by nadavsinai</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link data-require="bootstrap-css@~3.1.1" data-semver="3.2.0" rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>

</head>

<body class="wrapper" ng-app="app">
<header>
    <h1>Nd-Validation</h1>

    <p>Angular.js Data Model Based Validation infrastructure</p>

    <p class="view"><a href="https://github.com/nadavsinai/ndValidation">View the Project on GitHub
        <small>nadavsinai/ndValidation</small>
    </a></p>
    <ul>
        <li><a href="https://github.com/nadavsinai/ndValidation/zipball/master">Download <strong>ZIP File</strong></a>
        </li>
        <li><a href="https://github.com/nadavsinai/ndValidation/tarball/master">Download <strong>TAR Ball</strong></a>
        </li>
        <li><a href="https://github.com/nadavsinai/ndValidation">View On <strong>GitHub</strong></a></li>
    </ul>
    <h4>Links</h4>
    <ul>
        <li><a href="#background">Background</a> </li>
        <li><a href="#install--usage">Installation & usage</a> </li>
        <li><a href="#c">Demo App</a> </li>
    </ul>
</header>
<section>
    <h2>
        <a name="Background" class="anchor" href="#background"><span class="octicon octicon-link"></span></a>Background
    </h2>

    <p>Writing forms in large applications is tiresome - one must repeat the same validation directives for each model
        property for each form the model is included.

        and even worse one must also include the same validation error user messages with their relevant display logic.

        making changes becomes laborious...

        for example some code from <a target="_blank" href="https://docs.angularjs.org/guide/forms"> angular.js docs
            site</a>
<pre><code>
    <form name="form" class="css-form" novalidate>
        E-mail:
        <input type="email" ng-model="user.email" name="uEmail" required/><br/>

        <div ng-show="form.uEmail.$dirty && form.uEmail.$invalid">Invalid:
            <span ng-show="form.uEmail.$error.required">Tell us your email.</span>
            <span ng-show="form.uEmail.$error.email">This is not a valid email.</span>
        </div>
    </form>
</code></pre>

    if using nd-validate this boils down to
    <pre><code>
        <input type="email" ng-model="user.email" nd-validate/>
    </code></pre>


    the validation rules and messages are configured once per data model,
    for example for this model it would look like this
    <pre><code>
        User.prototype.$validationConfig = {
            email:{required:'Tell us your email.'},
            format:{type:'email',message:'This is not a valid email.'}
        }
    </code></pre>

    The place in which this is declared is quite dynamic although I do
    recommend to cast proper data-models, validation configuration can be put on the scope and referenced from
    directive's attribute.

    The directive will:</p>

    <ul>
        <li>parse validation rules,</li>
        <li>add relevant directives (support for angular own and custom validation rules)</li>
        <li>add user message element directly after the input element with the defined message passed through
            translation
        </li>
        <li>add a ngModel parsers/formatters based watcher that will trigger the display of the relevant message upon
            input change.
        </li>
    </ul>

    <h2>
        <a name="install--usage" class="anchor" href="#install--usage"><span class="octicon octicon-link"></span></a>Install
        &amp; usage</h2>

    <p>with bower one can install using</p>

<pre><code>bower install nd-validate
</code></pre>

    <p>add the script tag and add the module 'ndValidation' as dependency to your app.</p>

    <p>On an input field (within or out of a form) add the nd-validation attribute to automatically add validation rules
        and associated messages by the model validation definition
        the default is an object found on the prototype of the model instance called $validationConfig, (this can be set
        via the ndValidationSvc.setDefaultValidationSource at config time).
        or, alternatively using a validation object which is found on the scope and is refered to in the attribute's
        value e.g nd-validation='config.get("user").validation'</p>

    <p>Special note on Ng-repeat and such repeaters- if a model appears more than once in page's scope (like in
        ng-repeat) you must make sure the models are unique - in NgRepeat we add '_'+$index to the input name
        automatically</p>

    <h3>
        <a name="validation-config" class="anchor" href="#validation-config"><span class="octicon octicon-link"></span></a>Validation
        config</h3>

    <p>This should be an object with keys representing the input names (model properties) and values being either
        - a string (simple message, eg for required),
        - a hash with options an message (eg. for length : {min:5,message:'must be longer than 5'})
        - an array with many validation hashes as above.</p>

    <p>The following validations are supported :</p>

    <ul>
        <li>
            <strong>required</strong> : 'message',
        </li>
        <li>
            <strong>length</strong> : [{min:5,message:'message'},{max:5,message:'message'}]
        </li>
        <li>
            <strong>format</strong> : {type:'url' message:'message}<br>
            OR<br>
            {type:'email' message:'message}<br>
            OR<br>
            {type:'number' message:'message}<br>
            OR<br>
            {type:'pattern' ,pattern:'/.\/',message:'message'} // any valid regex<br>
        </li>
    </ul>

    <h5>
        <a name="for-the-following-two-rules-one-must-include-ui-validate-module-in-the-app-dependencies--see-httpangular-uigithubioui-utilsvalidate"
           class="anchor"
           href="#for-the-following-two-rules-one-must-include-ui-validate-module-in-the-app-dependencies--see-httpangular-uigithubioui-utilsvalidate"><span
                class="octicon octicon-link"></span></a>for the following two rules one must include ui-validate module
        in the app dependencies , see <a href="http://angular-ui.github.io/ui-utils/#/validate">http://angular-ui.github.io/ui-utils/#/validate</a>
    </h5>

    <ul>
        <li>
            <strong>equality</strong> :{otherValue:'constant',message:'message'}<br>
            OR<br>
            {otherModel:'scopeProperty',message:'message'} //good for matching passwords retype fields
        </li>
        <li>
            <strong>custom</strong>: {functionObj:function(value){ //anything goes, return boolean});
        </li>
    </ul>
</section>
<section id='demo' ng-controller="myCtrl">
    <h3>Existing Model edit</h3>

    <div ng-hide="modelList.length">Loading...</div>
    <div ng-show="modelList.length" class="row">
        <ul class='list-unstyled'>
            <li ng-repeat="model in modelList">
                <div class="col-sm-8">
                    <span>{{model.name}}</span>
                </div>
                <div class="col-sm-4">
                    <span class="btn btn-success" ng-click="enterEditModel(model)"><i
                            class="glyphicon glyphicon-pencil"></i></span>
                    <span class="btn btn-danger" ng-click="remove(model)"><i
                            class="glyphicon glyphicon-remove"></i></span>
                </div>
            </li>
        </ul>
    </div>
    <form ng-if='editModel' name='editForm'>
        <small>* - required field</small>
        <div class="form-group">
            <label>Name(*):
                <input class="form-control" ng-model="editModel.name" nd-validation/>
            </label>
        </div>
        <div class="form-group">
            <label> Username(*):
                <input class="form-control" ng-model="editModel.username" nd-validation/>
            </label>
        </div>
        <div class="form-group">
            <label> E-mail:
                <input class="form-control" ng-model="editModel.email" nd-validation/>
            </label>
        </div>
        <div class="form-group">
            <label> Website:
                <input class="form-control" ng-model="editModel.website" nd-validation/>
            </label>
        </div>
        <div class="pane">
            <div class="pane-body">
                <h4>Address</h4>

                <div class="form-group">
                    <label> Street:
                        <input class="form-control" ng-model="editModel.address.street" nd-validation/>
                    </label>
                </div>
                <div class="form-group">
                    <label> City:
                        <input class="form-control" ng-model="editModel.address.city" nd-validation/>
                    </label>
                </div>
                <div class="form-group">
                    <label> Zipcode:
                        <input class="form-control" ng-model="editModel.address.zipcode" nd-validation/>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input class='btn btn-success' type="submit" ng-click='save(editModel)' ng-disabled="editForm.$invalid"/>
        </div>
    </form>
    <div class="text-center">
        <div class="btn btn-success" ng-click="showNewForm()">Add New Model</div>
    </div>
    <div ng-if="newModel">
        <h3>New Model</h3>

        <form class='form-horizontal' name="newForm">
            <div class="form-group">
                <label> Name:
                    <input class="form-control" ng-model="newModel.name" nd-validation/>
                </label>
            </div>
            <div class="form-group">
                <label> Username:
                    <input class="form-control" ng-model="newModel.username" nd-validation/>
                </label>
            </div>
            <div class="form-group">
                <label> E-mail:
                    <input class="form-control" ng-model="newModel.email" nd-validation/>
                </label>
            </div>
            <div class="form-group">
                <label> Website:
                    <input class="form-control" ng-model="newModel.website" nd-validation/>
                </label>
            </div>
            <div class="pane">
                <div class="pane-body">
                    <h4>Address</h4>

                    <div class="form-group">
                        <label> Street:
                            <input class="form-control" ng-model="newModel.address.street" nd-validation/>
                        </label>
                    </div>
                    <div class="form-group">
                        <label> City:
                            <input class="form-control" ng-model="newModel.address.city" nd-validation/>
                        </label>
                    </div>
                    <div class="form-group">
                        <label> Zipcode:
                            <input class="form-control" ng-model="newModel.address.zipcode" nd-validation/>
                        </label>
                    </div>
                </div>
            </div>

            <input class='btn btn-success' ng-click="saveNew(newModel)" type="submit" ng-disabled="newForm.$invalid"/>
        </form>
    </div>
</section>
</div>
<footer>
    <p>This project is maintained by <a href="https://github.com/nadavsinai">nadavsinai</a></p>
</footer>
<script data-require="angular.js@*" data-semver="1.3.0-beta.5"
        src="https://code.angularjs.org/1.3.0-beta.5/angular.js"></script>
<script data-require="ui-utils@0.1.1" data-semver="0.1.1"
        src="http://angular-ui.github.io/ui-utils/dist/ui-utils.js"></script>
<script src="http://rawgit.com/angular-translate/bower-angular-translate/master/angular-translate.min.js"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js'></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/restangular/1.4.0/restangular.js"></script>
<script src='javascripts/validationSvc.js'></script>
<script src='javascripts/config.js'></script>
<script src="javascripts/validationDirectives.js"></script>
<script src="javascripts/app.js"></script>
<script src='javascripts/myModel.js'></script>
<script src="javascripts/scale.fix.js"></script>
</body>
</html>
